.NAVIGATION .CATE .button.text.categories span {
    background-image: url("../../img/apbankfes2016/UI_icon_menuArrow.png");
}

.button.with-icon.cart > span {
    background-image: url("../../img/apbankfes2016/UI_icon_cart.png");
}

.button.with-icon.signup > span {
    background-image: url("../../img/apbankfes2016/UI_icon_signup.png");
}

.button.with-icon.logout > span {
    background-image: url("../../img/apbankfes2016/UI_icon_logout.png");
}

.button.with-icon.mypage > span {
    background-image: url("../../img/apbankfes2016/UI_icon_account.png");
}

.button.with-icon.login span {
    background-image: url("../../img/apbankfes2016/UI_icon_login.png");
}

.faq-container .head {
    background-image: url("../../img/apbankfes2016/UI_icon_open.png");
}

.faq-container.active .head {
    background-image: url("../../img/apbankfes2016/UI_icon_close.png");
}

.button.with-icon span {
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    font-size: 14px;
    padding: 6px 0 6px 23px;
}

.HEADER.PRE .NAVIGATION .CATE {
    display: none !important;
}

.HEADER.PRE {
    height: 150px;
}

.MAINTITLE {
    height: 100%;
    margin: 0 auto;
    max-width: 960px;
    min-width: 300px;
    overflow: hidden;
    padding: 0 10px;
}

.MAINTITLE .TITLE {
    float: left;
    width: 400px;
}

.NAVIGATION .CATE .navigation ul li {
    margin-right: 10px;
}

.NAVIGATION .CATE .navigation ul li a {
    background-color: #fff;
    border-radius: 6px;
    color: #000;
}

.BUYSCHEDULE {
    background-color: transparent;
    background-image: url("../../img/apbankfes2016/shoptitle_bg.png");
    background-position: center bottom;
    padding-top: 160px;
}

.HEADER {
    background-color: #000;
    height: 190px;
    left: 0;
    padding-bottom: 0;
    top: 0;
    width: 100%;
    z-index: 99999;
}

.MAINSLIDER {
    background-color: #fff;
    background-size: 100% auto;
    padding: 20px 0;
}

.CONTENTS {
    margin-top: 40px;
}

.CONTENTS .CONTAINER {
    border-radius: 10px;
    padding: 40px;
}

.CONTENTS .marsonry .box .text dl {
    background: rgba(0, 0, 0, 0)!important;
    padding: 10px;
}

.CONTENTS .marsonry .box .text dt {}

.CONTENTS .marsonry .box .text dd {
    color: #fff;
    font-weight: bold;
    margin-top: 5px;
}

.box {
    width: 300px;
    height: 400px;
    position: relative;
    opacity: 0;
}

.box .inner {
    background-color: rgba(0, 0, 0, 0.3);
    height: 400px;
    width: 300px;
}

.box .thumbnail {
    height: 100%;
}

.box:hover .thumbnail {
    opacity: 0.8;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}

.icon_eyecatch {
    display: block;
    left: 5px;
    position: absolute;
    top: 20px;
    height: 30px;
    /*width: 70px;*/
    z-index: 9999;
}

.NAVIGATION .GLOBAL .buttons .button.rect {
    background-color: #000000;
}

.cart-list table > thead {}

.headline {
    background-color: #000;
    border-bottom: medium none;
    border-radius: 60px;
    border-top: medium none;
    color: #fff;
    font-family: "Candal", sans-serif;
    font-weight: bold;
    letter-spacing: 0;
    margin-bottom: 20px !important;
    position: relative;
    text-align: center;
}

.subheadline {
    color: #000000;
}

.buttons .button.rect.key {
    background: #000 none repeat scroll 0 0;
    border: 1px solid #000;
    color: #fff;
}

.buttons .button.rect.key:hover {
    background: #404040 none repeat scroll 0 0;
    border: 1px solid #404040;
}

.product-texts .list .name {}

.FOOTER {
    background-color: #000000;
    background-position: right top;
    background-repeat: no-repeat;
    background-size: auto 100%;
    margin-top: 0px;
}

.FOOTER .navigation ul li a {}

.FOOTER .WEBTITLE {
    background-color: #a4b4af;
    color: #ffffff;
    display: block;
    font-family: "Candal", sans-serif;
    font-size: 30px;
    line-height: 35px;
    margin: 0 auto;
    padding: 20px 0;
    width: 100%;
}

.FOOTER .WEBTITLE img {
    display: block;
    margin: 0 auto;
    max-width: 360px;
    width: 100%;
}

.FOOTER .LINKS {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

.FOOTER .CREDIT {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

.INFORMATION {}

.INFORMATION .SCHEDULE .head {
    background-color: #e50011;
}

input,
textarea {
    color: #000;
}

.fixed-data tr .head {}

.faq-container {
    border: medium none;
}

.button.rect {
    background: #707070 none repeat scroll 0 0;
    border: 1px solid #707070;
}

.panel {}

.panel .subheadline {
    height: 40px;
    line-height: 40px;
    margin-bottom: 40px;
    text-align: center;
}

body.PRE {
    background-color: #000000;
}

.PRE .HEADER {
    height: 150px;
}

.PRE .FOOTER {
    background-color: yellow;
    color: #000;
}

.PRE .FOOTER .LINKS,
.PRE .FOOTER .CREDIT {
    color: #000000;
}

.PRE .oac-menu {
    left: auto;
    right: 10px;
}

.FREE-TEXT {
    margin: 0px auto !important;
    padding: 20px;
    width: 885px;
    text-align: center;
    border: 2px solid #000;
}

.FREE-TEXT h3 {
    border-bottom: 1px solid #000;
    color: #000;
    font-family: "Candal", sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.FREE-TEXT h4 {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}

.FREE-TEXT h4 br {
    display: none;
}

.FREE-TEXT small {
    font-size: 10px;
}

.FREE-TEXT.FOOT {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

.FREE-TEXT.FOOT h3 {
    border-bottom: 1px solid #000;
}

.FREE-TEXT.FOOT strong {
    border-bottom: 1px solid #505050;
    display: block;
    font-size: 110%;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.NAVIGATION .CATE {}

.NAVIGATION .CATE a span {
    background-color: #404040;
    color: #fff;
    font-weight: bold;
}

.FREE-TEXT {}

.NAVIGATION .CATE .CONTAINER {
    height: 37px;
    overflow: visible;
}

.FREE-TEXT.HEAD > img {
    width: 100%;
}

.FREE-TEXT.HEAD.BUNNER {
    border: medium none;
    padding: 0;
    width: 930px;
}

.button.own.green {
    background-color: #699c8c !important;
}

.button.own.blue {
    background-color: #64869c !important;
}

.top_bunners {
    margin: 20px auto;
    max-width: 930px;
    overflow: hidden;
}

.top_bunners .bunner {
    float: left;
    margin-right: 20px;
    width: 455px;
}

.top_bunners .bunner:last-child {
    margin-right: 0;
}

.top_bunners .bunner img {
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .NAVIGATION .CATE .button.text.categories span {
        background-image: url("../../img/apbankfes2016/sp/UI_icon_menuArrow.png");
    }
    .button.with-icon.cart > span {
        background-image: url("../../img/apbankfes2016/sp/UI_icon_cart.png");
    }
    .button.with-icon.signup > span {
        background-image: url("../../img/apbankfes2016/sp/UI_icon_signup.png");
    }
    .button.with-icon.logout > span {
        background-image: url("../../img/apbankfes2016/sp/UI_icon_logout.png");
    }
    .button.with-icon.mypage > span {
        background-image: url("../../img/apbankfes2016/sp/UI_icon_account.png");
    }
    .button.with-icon.login span {
        background-image: url("../../img/apbankfes2016/sp/UI_icon_login.png");
    }
    .faq-container .head {
        background-image: url("../../img/apbankfes2016/sp/UI_icon_open.png");
    }
    .faq-container.active .head {
        background-image: url("../../img/apbankfes2016/sp/UI_icon_close.png");
    }
    .navigation ul li {
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    }
    .CONTENTS .CONTAINER {
        margin-top: 0px;
        min-width: auto;
        padding: 20px 0 !important;
    }
    .HEADER {
        height: 70px!important;
        position: fixed;
        width: 100%;
    }
    .MAINTITLE .TITLE {
        float: none;
        padding: 5px 0;
        top: 0;
        width: 220px;
    }
    .MAINTITLE {
        height: auto !important;
        top: 0;
        width: auto;
    }
    .MAINSLIDER {
        margin-bottom: 20px;
        padding: 0;
        background-size: cover;
    }
    .headline {
        margin: 0 5px 20px 0 !important;
    }

    .NAVIGATION .CATE .navigation ul li a {
        background: none;
        border-radius: 0;
    }
    .NAVIGATION .CATE .navigation ul li {
        margin-right: 0px;
    }
    .NAVIGATION .GLOBAL {
        border-bottom: 1px solid #5d5d5d;
        float: none;
        overflow: hidden;
        padding: 0;
        position: relative;
    }
    .NAVIGATION .GLOBAL .CONTAINER {
        margin: 0;
        padding: 0;
    }
    .NAVIGATION .CATE a span {
        border-left: medium none;
    }

    .NAVIGATION .GLOBAL .buttons a.button {
        background-color: rgba(255, 255, 255, 0.2);
        background-image: none !important;
        border-radius: 6px !important;
        color: #fff !important;
        height: 44px !important;
        line-height: 44px;
        margin: 10px 1%;
        padding: 0;
        width: 36% !important;
    }
    .navigation table td {
        display: block;
        margin: 5px;
    }
    /*.NAVIGATION .GLOBAL .buttons a.button:last-child {*/
    /*margin-top: 0;*/
    /*width: 75% !important;*/
    /*}*/
    .NAVIGATION .GLOBAL .buttons {
        text-align: center;
    }
  
    .CONTENTS .marsonry {
        margin: 10px 0px;
    }
    .CONTENTS {
        margin: 10px !important;
        padding-top: 80px !important;
    }
    .icon_eyecatch {
        /*width: 40px;*/
        height: 30px;
    }
    .FOOTER {
        margin: 0;
    }
    .FOOTER {
        background-size: auto 100px;
    }
    .FOOTER .WEBTITLE {
        font-size: 20px;
        line-height: 22px;
    }
    .FREE-TEXT {
        margin: 20px auto;
        width: auto;
    }
    .FREE-TEXT.HEAD.BUNNER {
        width: 100%;
    }
    .FREE-TEXT h4 {
        font-size: 16px;
        line-height: 1.4em;
    }
    .FREE-TEXT h2,
    h3,
    h4,
    h5,
    p {
        text-align: center;
    }
    .FREE-TEXT {
        text-align: left;
    }
    .FREE-TEXT h4 br {
        display: block;
    }
    .FREE-TEXT h3 {
        font-size: 17px;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
    .FREE-TEXT h4 {
        font-size: 14px;
        font-weight: bold;
        line-height: 1.4em;
        margin-bottom: 5px;
    }
    .top_bunners {
        margin: 10px;
    }
    .top_bunners .bunner {
        margin: 0 2% 0 0;
        width: 49%;
    }
}

@media screen and (max-width: 736px) {
    .icon_eyecatch {
        /*width: 40px;*/
        height: 20px;
    }
}


/* ラベル */

.point-ribbon {
    z-index: 99999;
    position: absolute;
    background: #000000;
    font-size: 14px;
    /*color: #fff;*/
}

.point-ribbon:before {
    position: absolute;
    content: " ";
    height: 0;
    width: 0;
}

.point-ribbon:after {
    position: absolute;
    content: " ";
    height: 0;
    width: 0;
}

.point-ribbon-l {
    font-family: 'Candal', sans-serif;
    top: .5em;
    left: -6px;
    height: 2em;
    line-height: 2.2;
    padding-left: 1em;
}

.point-ribbon-l:before {
    left: 0;
    top: 100%;
    border-top: 6px solid #000000;
    border-left: 6px solid transparent;
}

.point-ribbon-l:after {
    left: 100%;
    bottom: 0;
    border: 1em solid #000000;
    border-right: 0.5em solid transparent;
}
