@font-face {
    font-family: "myfont-1";
    src: url("../../fonts/skapara/bebas.ttf") format("truetype");
}

body {
    background-color: #fff;
	color:#000;
	font-size:11px;
}
.button.rect {
    background-color: #f6f4f4;
	background: #f9f9f9; /* Old browsers */
	background: -moz-linear-gradient(top,  #f9f9f9 0%, #f7f7f7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#f7f7f7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f9f9f9 0%,#f7f7f7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f9f9f9 0%,#f7f7f7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f9f9f9 0%,#f7f7f7 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f9f9f9 0%,#f7f7f7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-9 */
    border: 1px solid #d0d0d0;
    color: #000;
}
.button.rect.key {
    background-color: #404040;
	background: -moz-linear-gradient(top,  #3f3f3f 0%, #0e0e0e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3f3f3f), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #3f3f3f 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #3f3f3f 0%,#0e0e0e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #3f3f3f 0%,#0e0e0e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #3f3f3f 0%,#0e0e0e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f3f3f', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
    border: 1px solid #000;
}
.TOURTITLE .CONTAINER .TITLE {
    margin: 48px auto 10px;
    width: 275px;
}
.NAVIGATION .GLOBAL {
    background-color:	#fff;
}
.NAVIGATION .CATE {
    background-color:	#fff;
}
.CONTENTS {
    background-color:	#fff;
}
.CONTENTS .marsonry .box .text dl {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.45) 100%) repeat scroll 0 0;
}
.NAVIGATION .GLOBAL .buttons .button.rect {
    background-color: #e65e00;
}

.FOOTER .LINKS {
	background-color:	#1F1F1F;
}
.FOOTER .CREDIT {
    background-color: #2a2a2a;
    padding: 0;
}
.GLOBAL .TITLE {
    display: block;
    float: left;
    font-family: myfont-1;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    width: 100%;
}
.NAVIGATION .GLOBAL .buttons .button {
    float: right;
}

/**ヘッダーの画像**/
.NAVIGATION .GLOBAL .CONTAINER {
    background-image: url("../../img/skapara/header_bg.png");
}
/**カテゴリー一覧の矢印画像**/
.NAVIGATION .CATE .button.text.categories span {
    background-image: url("../../img/skapara/UI_icon_menuArrow.png");
}
/**カートアイコン画像**/
.button.key.rect.with-icon.cart > span{
    background-image:url("../../img/skapara/UI_icon_cart.png")
}
/**ログアウトアイコン画像**/
.button.text.with-icon.logout > span{
    background-image:url("../../img/skapara/UI_icon_logout.png")
}
/**マイページアイコン画像**/
.button.text.with-icon.mypage > span{
    background-image:url("../../img/skapara/UI_icon_account.png")
}
/**ログインアイコン画像**/
.button.with-icon.login span {
    background-image: url("../../img/skapara/UI_icon_login.png");
}
/**FAQの開く画像**/
.faq-container .head {
    background-image: url("../img/skapara/UI_icon_open.png");
}
/**FAQの閉じる画像**/
.faq-container.active .head{
    background-image: url("../img/skapara/UI_icon_close.png");
}



.NAVIGATION .CATE .button.rect{
	 float: right;
}
CATE .with-icon span{
background-position: left center;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    padding-left: 20px;
}

.NAVIGATION .GLOBAL .buttons .button {
    float: left;
}
.NAVIGATION .GLOBAL .buttons {
    position: absolute;
    right: 0;
}

.CREDIT p {
    line-height: 40px;
}
.CREDIT .navigation ul li a span {
    padding: 0 10px;
}
.LINKS .navigation ul li a {
    font-family: myfont-1;
}
.TOURTITLE {
    bottom: 30px;
}
.NAVIGATION .GLOBAL .CONTAINER {
    background-repeat: repeat-x;
    background-size: auto 48px;
    height: 40px;
    max-width: 930px;
    padding: 4px 0;
}
.NAVIGATION .CATE .CONTAINER{
    border-bottom: 1px dotted	#5F5F5F;
	bottom: 8px;
	max-width: 930px;
    padding: 0;
}

.CATE .button {
    display: block;
    height: 33px;
    line-height: 33px;
}
.CATE .navigation ul li a {
    display: block;
    height: 33px;
    line-height: 33px;
}
.HEADER {
    padding-bottom: 90px;
}
.CONTENTS .CONTAINER {
    margin: 0 auto;
    max-width: 930px;
    min-width: 300px;
}
.NAVIGATION .CATE .buttons .button span ,.CATE .navigation ul li a span {
    border-left: 1px solid	#5F5F5F;
}

.CATE .navigation ul li:last-child a span {
    border-right: 1px solid	#5F5F5F;
}
.CONTENTS .marsonry {
    margin: -5px;
}


@media screen and (max-width: 728px) {
/**ヘッダーの画像**/
.NAVIGATION .GLOBAL .CONTAINER {
    background-image: url("../../img/skapara/sp/header_bg.png");
}
/**カテゴリー一覧の矢印画像**/
.NAVIGATION .CATE .button.text.categories span {
    background-image: url("../../img/skapara/sp/UI_icon_menuArrow.png");
}
/**カートアイコン画像**/
.button.key.rect.with-icon.cart > span{
    background-image:url("../../img/skapara/sp/UI_icon_cart.png")
}
/**ログアウトアイコン画像**/
.button.text.with-icon.logout > span{
    background-image:url("../../img/skapara/sp/UI_icon_logout.png")
}
/**マイページアイコン画像**/
.button.text.with-icon.mypage > span{
    background-image:url("../../img/skapara/sp/UI_icon_account.png")
}
/**ログインアイコン画像**/
.button.with-icon.login span {
    background-image: url("../../img/skapara/sp/UI_icon_login.png");
}
/**FAQの開く画像**/
.faq-container .head {
    background-image: url("../img/skapara/sp/UI_icon_open.png");
}
/**FAQの閉じる画像**/
.faq-container.active .head{
    background-image: url("../img/skapara/sp/UI_icon_close.png");
}
.GLOBAL .TITLE {
    margin: 0px auto ;
    width: 60px;
}
.LINKS .navigation {
    display: none;
}
.NAVIGATION .GLOBAL .CONTAINER{
    padding-top: 5px;
    padding-bottom: 5px;
}
.CATE .button.rect {
    padding: 0 5px;
}
.TOURTITLE .CONTAINER .TITLE {
    width: 234px;
}
.NAVIGATION {
    top: 53px;
}
.navigation ul li {
    border-bottom: 1px solid	#5F5F5F;
}
.NAVIGATION .CATE .button.text.categories span {
	border-right: 1px solid	#5F5F5F;
}
.NAVIGATION .GLOBAL .CONTAINER {
    margin-left: 15px;
    margin-right: 15px;
    min-width: 290px;
}
.NAVIGATION .CATE .CONTAINER {
    margin-left: 15px;
    margin-right: 15px;
    min-width: 290px;
}

.CONTENTS .CONTAINER {
    margin: 15px;
    width: auto;
}

.CONTENTS .marsonry {
    margin: -10px;
}



}
