/**共通設定**/
body{
    color: #606060;
    font-size:12px;
}
/**カテゴリー一覧の矢印画像**/
.NAVIGATION .CATE .button.text.categories span {
    background-image: url("../../img/naoto/UI_icon_menuArrow.png");
}
/**カートアイコン画像**/
.button.key.rect.with-icon.cart > span{
    background-image:url("../../img/naoto/UI_icon_cart.png");
}
/**ログアウトアイコン画像**/
.button.text.with-icon.logout > span{
    background-image:url("../../img/naoto/UI_icon_logout.png");
}
/**マイページアイコン画像**/
.button.text.with-icon.mypage > span{
    background-image:url("../../img/naoto/UI_icon_account.png");
}
/**ログインアイコン画像**/
.button.with-icon.login span {
    background-image: url("../../img/naoto/UI_icon_login.png");
}
/**FAQの開く画像**/
.faq-container .head {
    background-image: url("../../img/naoto/UI_icon_open.png");
}
/**FAQの閉じる画像**/
.faq-container.active .head{
    background-image: url("../../img/naoto/UI_icon_close.png");
}

/**タイトル周り**/
.MAINTITLE {
    background-image: url("../../img/naoto/header_bg_dome3.png");
    background-position: center bottom;
    height: 615px;
}

.BUYSCHEDULE {
    background-color:transparent;
    background-position:bottom center;
    padding: 100px 0 0px;
    color: #408578;
}

/**ナビゲーション周り**/
.HEADER {
    z-index: 99999;
}
.HEADER.MIN .MAINTITLE{
    background-color:#e12425;
}
.NAVIGATION .GLOBAL {
    background-color: #ffd949;
}
.NAVIGATION .CATE {
    background-color: #f2f3f9;
    border-bottom: 1px solid #e0e0e0;
}
.NAVIGATION .CATE a span {
    border-color: #e0e0e0 !important;
}
.NAVIGATION .CATE a span {
    border-left: 1px solid;
    display: block;
    height: 40px;
    padding: 0 20px;
}
.SHOPSCHEDULE .title {
}
.SHOPTITLE .DESCRIPTION {
    color: #ffff00;
}
.MAINTITLE .TITLE {
     padding: 0px;
}

/**TOP商品**/
.CONTENTS .marsonry .box .text dl {
    background: rgba(254, 254, 227, 1) linear-gradient(to bottom, rgba(254, 254, 227, 1) 0%, rgba(0, 0, 0, 0.45) 100%) repeat scroll 0 0;
}
.CONTENTS .marsonry .box .text dl {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#885bb7+0,885bb7+100&amp;0+1,1+95 */
    background: -moz-linear-gradient(top,  rgba(64,133,120,0) 0%, rgba(64,133,120,0) 1%, rgba(64,133,120,1) 95%, rgba(64,133,120,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(64,133,120,0)), color-stop(1%,rgba(64,133,120,0)), color-stop(95%,rgba(64,133,120,1)), color-stop(100%,rgba(64,133,120,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(64,133,120,0) 0%,rgba(64,133,120,0) 1%,rgba(64,133,120,1) 95%,rgba(64,133,120,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(64,133,120,0) 0%,rgba(64,133,120,0) 1%,rgba(64,133,120,1) 95%,rgba(64,133,120,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(64,133,120,0) 0%,rgba(64,133,120,0) 1%,rgba(64,133,120,1) 95%,rgba(64,133,120,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(64,133,120,0) 0%,rgba(64,133,120,0) 1%,rgba(64,133,120,1) 95%,rgba(64,133,120,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00138979', endColorstr='#ff138979',GradientType=0 ); /* IE6-9 */

}

/**見出し**/
.headline {
    background-color: #138979;
    border-bottom: 4px solid #ffd949;
    border-radius: 4px 4px 0 0;
    border-top: medium none;
    color: #fff;
    text-indent: 15px;
}

/**小見出し**/
.subheadline {
    color:#e12425;
}

/**キーボタンカラー**/
.buttons .button.rect.key {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff7400+0,e65e00+100 */
    background: rgb(19,137,121); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(19,137,121,1) 0%, rgba(19,137,121,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(19,137,121,1)), color-stop(100%,rgba(19,137,121,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(19,137,121,1) 0%,rgba(19,137,121,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(19,137,121,1) 0%,rgba(19,137,121,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(19,137,121,1) 0%,rgba(19,137,121,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(19,137,121,1) 0%,rgba(19,137,121,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#138979', endColorstr='#138979',GradientType=0 ); /* IE6-9 */
    border:1px solid #138979;
}

.buttons .button.rect.key:hover {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e57124+22,ff8a2b+100 */
    background: rgb(19,137,121); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(19,137,121,1) 22%, rgba(19,137,121,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(22%,rgba(19,137,121,1)), color-stop(100%,rgba(19,137,121,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(19,137,121,1) 22%,rgba(19,137,121,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(19,137,121,1) 22%,rgba(19,137,121,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(19,137,121,1) 22%,rgba(19,137,121,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(19,137,121,1) 22%,rgba(19,137,121,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#138979', endColorstr='#138979',GradientType=0 ); /* IE6-9 */
}

/**商品タイトル**/
.product-texts .list .name {
    color: #138979;
}
/**フッター**/
.FOOTER {
}
.FOOTER .LINKS {
    background-color: #138979;
    color: #ffffff;
}
.FOOTER .CREDIT {
    background-color: #e12425;
    color: #ffffff;
}
/**下部お知らせ**/
.INFORMATION {
}
.INFORMATION .SCHEDULE .head {
    background-color: #138979;
}
/**パネル**/
.panel {
    border: 1px solid #dfdfdf;
    box-shadow: 1px 2px 7px #e0e0e0;
}
.panel .subheadline {
    background-color: #e12425;
    border-radius: 40px;
    color: #fff;
    height: 40px;
    line-height: 40px;
    margin-bottom: 40px;
    text-align: center;
}

@media screen and (max-width: 728px) {

    .BUYSCHEDULE {
        display: none;
        bottom: 0;
        padding: 0px;
        position: absolute;
        width: 100%;
        color: #408578;
        margin-bottom: 3px;
    }

    .BUYSCHEDULE .inner .text {
        display: inline-block;
        font-size: 80%;
        font-weight: bold;
        line-height: 1.5em;
    }

    .TOURTITLE .TITLE {
        max-width: 360px;
        width: auto;
    }

    /**カテゴリー一覧の矢印画像**/
    .NAVIGATION .CATE .button.text.categories span {
        background-image: url("../../img/naoto/sp/UI_icon_menuArrow.png");
    }
    /**カートアイコン画像**/
    .button.key.rect.with-icon.cart > span{
        background-image:url("../../img/naoto/sp/UI_icon_cart.png");
    }
    /**ログアウトアイコン画像**/
    .button.text.with-icon.logout > span{
        background-image:url("../../img/naoto/sp/UI_icon_logout.png");
    }
    /**マイページアイコン画像**/
    .button.text.with-icon.mypage > span{
        background-image:url("../../img/naoto/sp/UI_icon_account.png");
    }
    /**ログインアイコン画像**/
    .button.with-icon.login span {
        background-image: url("../../img/naoto/sp/UI_icon_login.png");
    }
    /**FAQの開く画像**/
    .faq-container .head {
        background-image: url("../../img/naoto/sp/UI_icon_open.png");
    }
    /**FAQの閉じる画像**/
    .faq-container.active .head{
        background-image: url("../../img/naoto/sp/UI_icon_close.png");
    }

}

/*@media screen and (max-width: 1024px){*/
    /*.MAINTITLE {*/
        /*background-size: cover;*/
        /*height: 400px;*/
    /*}*/
/*}*/
