@font-face {
    font-family: "myfont-1";
    src: url("../../fonts/warszawa-label/bebas.ttf") format("truetype");
}

body {
    background-image:url("../../img/warszawa-label/bg.jpg");
    background-repeat: no-repeat;            /* 背景を繰り返さない */
    background-position: 50% 50%;            /* 背景画像の位置は画面中央 */
    background-attachment:fixed;             /* 背景画像を固定する */
    background-color: transparent;
    color:#fff;
    font-size:11px;
}
.button.rect {
    background-color: #f6f4f4;
    background: #f9f9f9; /* Old browsers */
    background: -moz-linear-gradient(top,  #f9f9f9 0%, #f7f7f7 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#f7f7f7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f9f9f9 0%,#f7f7f7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f9f9f9 0%,#f7f7f7 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f9f9f9 0%,#f7f7f7 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f9f9f9 0%,#f7f7f7 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-9 */
    border: 1px solid #d0d0d0;
    color: #000;
}
.button.rect.key {
    background-color: #97605f;
    background: -moz-linear-gradient(top,  #97605f 0%, #97605f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#97605f), color-stop(100%,#97605f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #97605f 0%,#97605f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #97605f 0%,#97605f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #97605f 0%,#97605f 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #97605f 0%,#97605f 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#97605f', endColorstr='#97605f',GradientType=0 ); /* IE6-9 */
    border: 1px solid #97605f;
    color: #000;
}
.TOURTITLE .CONTAINER .TITLE {
    margin: 0 auto;
    width: 960px;
    max-width: 100%;
}
.NAVIGATION .GLOBAL {
    background-color: transparent;
}
.NAVIGATION .CATE {
    background-color: transparent;
}
.CONTENTS {
    background-color: transparent;
    margin:0;
}
.CONTENTS .marsonry .box .text dl {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.45) 100%) repeat scroll 0 0;
}
.NAVIGATION .GLOBAL .buttons .button.rect {
    background-color: #e65e00;
}
.cart-list table > thead {
    height: 40px;
    background-color: #97605f;
    color: #000;
}

.cart-list > table {
    border: 1px solid #97605f;
    width: 100%;
}
.cart-list > table > tbody > tr {
    border-bottom: 1px solid #97605f;
}

.FOOTER .LINKS {
    background-color:	#97605f;
    color:#000;
}
.FOOTER .CREDIT {
    background-color: #3e3e39;
    padding: 0;
}

.GLOBAL .TITLE {
    display: block;
    float: left;
    font-family: myfont-1;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    width: 100%;
}
.NAVIGATION .GLOBAL .buttons .button {
    float: right;
}

/**ヘッダーの画像**/
.NAVIGATION .GLOBAL .CONTAINER {
    background-image: url("../../img/warszawa-label/header_bg.png");
}
/**カテゴリー一覧の矢印画像**/
.NAVIGATION .CATE .button.text.categories span {
    background-image: url("../../img/warszawa-label/UI_icon_menuArrow.png");
}
/**カートアイコン画像**/
.button.key.rect.with-icon.cart > span{
    background-image:url("../../img/warszawa-label/UI_icon_cart.png");
}
/**ログアウトアイコン画像**/
.button.text.with-icon.logout > span{
    background-image:url("../../img/warszawa-label/UI_icon_logout.png");
}
/**マイページアイコン画像**/
.button.text.with-icon.mypage > span{
    background-image:url("../../img/warszawa-label/UI_icon_account.png");
}
/**ログインアイコン画像**/
.button.with-icon.login span {
    background-image: url("../../img/warszawa-label/UI_icon_login.png");
}
/**FAQの開く画像**/
.faq-container .head {
    background-image: url("../../img/warszawa-label/UI_icon_open.png");
}
/**FAQの閉じる画像**/
.faq-container.active .head{
    background-image: url("../../img/warszawa-label/UI_icon_close.png");
}

.NAVIGATION .CATE .button.rect{
    float: right;
}
.CATE .with-icon span{
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    padding-left: 20px;
}

.NAVIGATION .GLOBAL .buttons .button {
    float: left;
}
.NAVIGATION .GLOBAL .buttons {
    position: absolute;
    right: 0;
}

.CREDIT p {
    line-height: 40px;
}
.CREDIT .navigation ul li a span {
    padding: 0 10px;
}
.LINKS .navigation ul li a {
    font-family: myfont-1;
}
.TOURTITLE {
}
.NAVIGATION .GLOBAL .CONTAINER {
    background-repeat: repeat-x;
    background-size: auto 48px;
    height: 40px;
    max-width: 930px;
    padding: 4px 0;
}
.NAVIGATION .CATE .CONTAINER{
    border-bottom: 1px dotted	#fff;
    bottom: 8px;
    max-width: 930px;
    padding: 0;
}

.CATE .button {
    display: block;
    height: 33px;
    line-height: 33px;
}
.CATE .navigation ul li a {
    display: block;
    height: 33px;
    line-height: 33px;
}
.HEADER {
}
.CONTENTS .CONTAINER {
    margin: 0 auto;
    max-width: 930px;
    min-width: 290px;
}
.NAVIGATION .CATE .buttons .button span ,.CATE .navigation ul li a span {
    border-left: 1px solid	#fff;
}

.CATE .navigation ul li:last-child a span {
    border-right: 1px solid	#fff;
}
.CONTENTS .marsonry {
    margin: -5px;
}

.product-texts .freebox {
    border: 1px solid #fff;
    padding: 20px;
}
.description.notice {
    border: 1px solid;
    color: #fff;
    margin-top: 20px;
    padding: 10px;
}
.INFORMATION {
    background-color: transparent;
    color: #000;
}
.INFORMATION .inner {
    background-color: #fff;
    border: 1px solid #97605f;
    border-radius: 6px;
    padding: 20px;
}
.INFORMATION .SCHEDULE .head {
    background-color: #97605f;
    color: #000;
    font-size: 150%;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
}

.fixed-data tr .head {
    width: 20%;
    background-color: #97605f;
}
.fixed-data tr td {
    padding: 20px;
}
.fixed-data td {
    border: 1px solid #e0e0e0;
}

.faq-container {
    background-color: #3e3a39;
    border: 1px solid #97605f;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 20px;
}

@media screen and (max-width: 1024px) {
    body {
        background:url("../../img/warszawa-label/bg.jpg") no-repeat;
        background-position: 50% 50%;            /* 背景画像の位置は画面中央 */
        background-attachment:scroll;
        background-color: #393438;
        color:#fff;
        font-size:11px;
        /*max-width: 100%;*/
    }

    /**ヘッダーの画像**/
    .NAVIGATION .GLOBAL .CONTAINER {
        background-image: url("../../img/warszawa-label/header_bg.png");
    }
    /**カテゴリー一覧の矢印画像**/
    .NAVIGATION .CATE .button.text.categories span {
        background-image: url("../../img/warszawa-label/UI_icon_menuArrow.png");
    }
    /**カートアイコン画像**/
    .button.key.rect.with-icon.cart > span{
        background-image:url("../../img/warszawa-label/UI_icon_cart.png");
    }
    /**ログアウトアイコン画像**/
    .button.text.with-icon.logout > span{
        background-image:url("../../img/warszawa-label/UI_icon_logout.png");
    }
    /**マイページアイコン画像**/
    .button.text.with-icon.mypage > span{
        background-image:url("../../img/warszawa-label/UI_icon_account.png");
    }
    /**ログインアイコン画像**/
    .button.with-icon.login span {
        background-image: url("../../img/warszawa-label/UI_icon_login.png");
    }
    /**FAQの開く画像**/
    .faq-container .head {
        background-image: url("../../img/warszawa-label/UI_icon_open.png");
    }
    /**FAQの閉じる画像**/
    .faq-container.active .head{
        background-image: url("../../img/warszawa-label/UI_icon_close.png");
    }
    .GLOBAL .TITLE {
        margin: 0px auto ;
        width: 100px;
    }
    .LINKS .navigation {
        display: none;
    }
    .NAVIGATION .GLOBAL .CONTAINER{
    }
    .CATE .button.rect {
        padding: 0 5px;
    }
    .TOURTITLE .CONTAINER .TITLE {
    }
    .NAVIGATION {
    }
    .navigation ul li {
        border-bottom: 1px solid	#fff;
    }
    .NAVIGATION .CATE .button.text.categories span {
        border-right: 1px solid	#fff;
    }
    .NAVIGATION .GLOBAL .CONTAINER {
        margin-left: 15px;
        margin-right: 15px;
        min-width: 290px;
    }
    .NAVIGATION .CATE .CONTAINER {
        margin-left: 15px;
        margin-right: 15px;
        min-width: 290px;
    }

    .CONTENTS .CONTAINER {
        margin: 0 15px;
        width: auto;
        padding:0;
    }

    .CONTENTS .marsonry {
        margin: -10px;
    }

}
