.marsonry ul{
    overflow: hidden;
}

.box{
    float: left;
    width: 313px;
	height:313px;
}
.box a{
	display:block;
    width: 313px;
	height:313px;
}

.box .inner{
    width: 303px;
    height: 303px;
}

#NEXT #loading{
    display: none!important;
}


.form-group input[type="text"], .form-group input[type="password"], .form-group textarea {
	background:none;
    padding: 12px;
    width: 100%;
	color:#C3C3C3;
}
.form-container {
	overflow:hidden;
}
.form-container .inner {
    border: 1px solid #e0e0e0;
	margin:1px;
}

.navigation ul li {
    display: block;
    float: left;
}

.CREDIT p {
    text-align: left;
}

.INFORMATION .inner {
    margin: 0 auto;
    width: 600px;
}
.form-container,.form-container .inner {
    overflow: visible;
}
.form-group .form-container input[type="text"] {
    color: #000;
    font-size: 13px;
    font-weight: bold;
}

.form-group.count-2 {
	height:40px;
	margin-bottom:40px;
}

.form-group.count-2 .form-container .inner {
	display:block;
	float:left;
	letter-spacing: 0;
    margin-right:10px;
    width: 150px;
}
.form-group.count-3 .form-container .inner {
	display:block;
	float:left;
	letter-spacing: 0;
    margin-right:10px;
    width: 100px;
}
.totals {
    height: 170px;
}