input[type="button"],input[type="submit"] {
-webkit-appearance: none;
}
body,html{
    line-height: 1.6em;
    font-family: "游ゴシック","YuGothic","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    font-size: 13px;
}
.text-heading {
    font-size: 130%;
    margin-bottom: 20px;
}
.text-caption {
    font-size: 80%;
    opacity: 0.6;
    line-height: 1.4em;
}
.btn {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin: 10px 0;
}
.btn.primary {
    background-image: url("/assets/img/chet/ICON_arrow_primary.png");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 14px auto;
    font-weight: bold;
    padding-right: 20px;
    font-family: 'Josefin Sans', sans-serif;
}
.text-headline {
    display: block;
    font-size: 450%;
    line-height: 1.2em;
    margin-bottom: 40px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
}
.content-head {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
}
.content-headline {
    margin-bottom: 40px;
}
.content-headline h1 {
    color: #000;
    display: block;
    font-size: 160%;
}
.content-headline hr {
    background-color: #000;
    display: block;
    height: 4px;
    margin: 20px auto 0;
    width: 40px;
}
.menubutton {
    display: none;
    height: 20px;
    position: absolute;
    right: 20px;
    text-indent: -9999em;
    top: 13px;
    width: 25px;
    z-index: 99999;
}
.menubutton hr {
    background-color:rgba(255,255,255,1);
    height: 2px;
    position: absolute;
    right: 0;
    top: 9px;
    width: 25px;
    opacity:1;
    transition: all 0.3s ease-in-out 0s !important;
}
.menubutton hr::before, .menubutton hr::after {
    background-color: #fff;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    width: 25px;
    transition: all 0.3s ease-in-out 0s !important;
}
.menubutton hr::before {
    top: -5px;
}
.menubutton hr::after {
    bottom: -5px;
}
.menubutton.on hr{
    background-color:rgba(255,255,255,0);
}
.menubutton.on hr::before {
    top: 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.menubutton.on hr::after {
    bottom: 0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.text-point {
    margin-bottom: 20px;
}
.text-point span {
    display: block;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
}
.text-point span img {
    display: inline-block;
    margin-right: 5px;
    width: 12px;
}
.subitem-name {
    display: block;
    font-weight: bold;
}

.WRAPPER {
}
.CONTAINER {
    margin: 0 auto;
    overflow: hidden;
    padding: 80px 0;
    width: 1000px;
}
.HEADER{
    transition: all 0.3s ease-in-out 0s !important;
}
.HEADER .TITLE {
    margin: 0 auto;
    padding-bottom: 40px;
    padding-top: 100px;
    width: 200px;
}
.HEADER .NAVIGATION {
    text-align: center;
}
.HEADER .NAVIGATION li {
    display: inline-block;
    margin: 0 20px;
}
.HEADER .NAVIGATION li a {
    display: block;
    font-family: "Josefin Sans",sans-serif;
    font-weight: 700;
    height: 40px;
    line-height: 40px;
    letter-spacing: 0.2em;
}
.HEADER .NAVIGATION li a hr {
    background-color: #000;
    opacity: 0;
    height: 3px;
    width: 0px;
    transition: all 0.3s ease-in-out 0s !important;
}

.HEADER .NAVIGATION li a:hover hr {
    opacity: 1;
    width: 100%;
}
.HEADER .NAVIGATION li a.active hr {
    width:100%;
    opacity:1;
}

.HEAD .GLOBALNAVI {
    position: static;
}
.HEADER .GLOBALNAVI {
    position: static;
}
.HEADER .GLOBALNAVI .HEAD {
    background-color: #000;
    color: #fff;
    left: 0;
    position: absolute;
    text-align: right;
    top: 0;
    width: 100%;
    height:  45px;
}
.HEADER .GLOBALNAVI .HEAD .title {
    left: 20px;
    margin: 0;
    position: absolute;
    top: 14px;
    width: 70px;
}
.HEADER .GLOBALNAVI .HEAD .button {
    display: block;
    font-family: "Josefin Sans",sans-serif;
    font-weight: 400;
    padding: 13px 3px;
    width: 18px;
}
.HEADER .GLOBALNAVI .HEAD li {
    display: inline-block;
    margin: 0 15px 0 0!important;
}

.HEADER.clone {
    position: fixed;
    top: -60px;
    width: 100%;
    z-index: 9998;
    background-color: #000;
}
.HEADER.clone.show {
    top: 0px;
}
.HEADER.clone .TITLE {
    display: none;
}
.HEADER.clone .GLOBALNAVI {
    color: #fff;
}
.HEADER.clone .NAVIGATION {
    float: left;
    margin-left: 120px;
}
.HEADER.clone .NAVIGATION hr {
    background-color: #fff;
    bottom: 1px;
    height: 2px;
    position: absolute;
}
.HEADER.clone .NAVIGATION li a {
    height: 45px;
    line-height: 49px;
}
.HEADLINE .CONTAINER {
    padding-top: 40px;
}
.HEADLINE .mainslider{
    
}
.HEADLINE .mainslider img{
    position: absolute;
    top: 0;
    left: 0;
    
}
.CONTENTS {
}

.TOP .TOPICS {
    margin-top: 40px;
}
.TOP .TOPICS li {
    margin-top: 10px;
}
.TOP .TOPICS li a {
    display: block;
}
.TOP .TOPICS li a dl {
    overflow: hidden;
}
.TOP .TOPICS li a dt.date {
    display: block;
    float: left;
    margin-right: 10px;

}
.TOP .TOPICS li a dd.text {
    float: left;
}
.TOP .TOPICS .title{
    display:none;
}
.TOP .CONSEPT {
    background-color: #ebebeb;
}

.TOP .CONSEPT .content-body {
    text-align: center;
}
.TOP .CONSEPT .content-body img {
    opacity:0;
    bottom:-50px;
    transition: all 1.8s  0s !important;
}
.TOP .CONSEPT .content-body.active img {
    opacity:1;
    bottom:0px;
}
.TOP .CONSEPT .content-body .btn {
    margin-top: 40px;
}
.LINEUP {
}
.LINEUP .content-body {
    width: 120%;
}
.LINEUP .content-body .innner {
    float: left;
    margin: 60px 60px 0 0;
    text-align: center;
    width: 205px;
    opacity:0;
    bottom:-50px;
    transition: all 0.5s ease-in-out 0s !important;
}
.LINEUP .content-body .innner.active{
    opacity:1;
    bottom:0px;
}
.LINEUP .content-body .innner figcaption {
    border-bottom: 1px solid #000;
    display: block;
    margin-top: 10px;
    padding-bottom: 20px;
}
.LINEUP .content-body .innner figcaption srtong {
    display: block;
    margin-bottom: 10px;
}
.LINEUP .content-body .innner figcaption p {
}
.FOOTER {
    background-color: #202020;
    color: #afafaf;
}
.FOOTER ul {
    float: left;
    margin-right: 40px;
    width: 200px;
}
.FOOTER .CONTACT {
    float: right;
    width: 280px;
}

.FOOTER .credit {
    bottom: 0;
    float: left;
    left: 0;
    padding: 20px 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

.FOOTER ul:last-child {
}

.FOOTER .menu-01 {
}
.FOOTER .menu-01 li a, .FOOTER .menu-02 li a {
    background-image: url("/assets/img/chet/ICON_arrow_white.png");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 15px auto;
    display: block;
    height: 30px;
    line-height: 30px;
}
/**
.FOOTER .menu-03 {
    text-align: center;
}
.FOOTER .menu-03 strong {
    color: #fff;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
}
.FOOTER .menu-03 li a {
    display: block;
    width: 45px;
}
.FOOTER .menu-03 li {
    display: inline-block;
    margin: 0 10px;
}
.FOOTER .menu-03 .title {
    display: block;
    margin: 20px 0;
}
**/
.FOOTER .CONTACT input {
    background-color: #000;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 8px 0;
    width: 100%;
    text-indent: 10px;
}

.FOOTER .CONTACT .clear {
    float: left;
    width: 100%;
}
.FOOTER .CONTACT .fname {
    float: left;
    margin-right: 4%;
    width: 48%;
}
.FOOTER .CONTACT .lname {
    float: left;
    width: 48%;
}
.FOOTER input.button {
    background-color: #202020;
    border: 2px solid #fff;
    border-radius: 0;
    color: #fff;
    font-weight: bold;
    margin-top: 10px;
    text-indent: 0;
    cursor:pointer;
}
.FOOTER input.button:hover {
    background-color: #fff;
    color:#000;
}


.SUB .CONTENTS {
    border-top: 1px solid #efefef;
    margin-bottom: 60px;
    margin-top: 5px;
}
.SUB .CONTENTS .content-head .content-headline {
    margin-bottom:40px;
}
.SUB .CONTENTS .content-head .content-headline h1 {
    font-size: 250%;
    letter-spacing: 0.2em;
    line-height: 1em;
}
.SUB .LINEUP .content-body .innner {
    bottom: 0px;
    opacity: 1;
}

.SUB .TOPICS .innner {
}
.SUB .TOPICS .content-body .list li {
    border-top: 1px solid #a0a0a0;
    margin: 0;
}
.SUB .TOPICS .content-body .list li dt {
    color: #909090;
    float: left;
}
.SUB .TOPICS .content-body .list li dd {
    margin-left: 150px;
}
.SUB .TOPICS .content-body .list li a {
    display: block;
    padding: 20px 0;
}
.SUB .TOPICS .content-body .list li:last-child {
    border-bottom: 1px solid #a0a0a0;
}




.PAGER {
    text-align: center;
    margin: 40px 0 20px;
}
.PAGER li {
    display: inline-block;
}
.PAGER .arrow {
    margin: 0 20px;
}

.PAGER span {
    display: block;
    height: 30px;
    line-height: 30px;
    opacity: 0.4;
    width: 30px;
}
.PAGER .arrow {
    margin: 0 20px;
    vertical-align: middle;
}
.PAGER .arrow img {
    margin: 0 auto;
    width: 25px;
}
.PAGER li.current span {
    background-color: #000;
    border-radius: 30px;
    color: #fff;
    opacity: 1;
}
.PAGER span:hover {
    opacity: 1;
}
.PAGER li a {
    display: block;
}

.SUB .TOPICS.SINGLE .content-body header h1 {
    display: block;
    font-size: 240%;
    font-weight: bold;
    line-height: 1.4em;
    margin: 80px auto 40px;
    text-align: center;
    width: 70%;
}
.SUB .TOPICS.SINGLE .content-body header p {
    font-family: "Josefin Sans",sans-serif;
    font-weight: bold;
    opacity: 0.5;
    text-align: center;
}
.SUB .TOPICS.SINGLE .content-body header {
    margin-bottom: 80px;
}
.SUB .TOPICS.SINGLE .content-body section {
    margin-bottom: 80px;
}
.SUB .TOPICS.SINGLE .content-body section img {
    margin-bottom: 80px;
}
.SUB .TOPICS.SINGLE .content-body section p {
    margin: 0 auto;
    width: 70%;
}
.SUB .TOPICS.SINGLE .content-body footer {
    border-top: 1px solid #000;
    overflow: hidden;
    padding-top: 80px;
}
.SUB .TOPICS.SINGLE .content-body footer h1 {
    display: block;
    float: left;
    font-family: "Josefin Sans",sans-serif;
    font-size: 200%;
    font-weight: bold;
    text-align: center;
    width: 210px;
    line-height: 1.4em;
}
.SUB .TOPICS.SINGLE .content-body footer ul {
    float: left;
    width: 790px;
}
.SUB .TOPICS.SINGLE .content-body footer ul li {
    margin-bottom: 10px;
}
.SUB .TOPICS.SINGLE .content-body footer ul li:last-child {
    margin-bottom: 0;
}
.SUB .TOPICS.SINGLE .content-body footer ul li dt {
    float: left;
    opacity: 0.6;
}
.SUB .TOPICS.SINGLE .content-body footer ul li dd {
    margin-left: 130px;
}


.SUB .CONCEPT .content-body .description p {
    -moz-column-count: 2;
    -moz-column-gap: 40px;
    -webkit-column-count: 2;
    -webkit-column-gap: 40px;
    column-count: 2;
    column-gap: 40px;
    line-height: 1.7em;
}
.SUB .CONCEPT .content-body .staff {
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    margin: 80px auto 0;
    padding: 60px 0;
    text-align: center;
    width: 600px;
}
.SUB .CONCEPT .content-body .staff dl {
    font-family: "Josefin Sans",sans-serif;
}
.SUB .CONCEPT .content-body .staff dl dt {
    display: block;
    margin-bottom: 20px;
}
.SUB .CONCEPT .content-body .staff dl dd {
    color: #808080;
}
.SUB .CONCEPT .content-body .staff dl dd strong {
    color: #000;
    display: block;
    font-size: 150%;
    font-weight: bold;
    margin-bottom: 10px;
}

.SUB .CONCEPT .content-body .staff dl {
    margin-bottom: 40px;
}
.SUB .CONCEPT .content-body .staff dl:last-child {
    margin-bottom: 0;
}


.SUB .SHOPLIST {
}
.SUB .SHOPLIST .list {
    width: 110%;
    overflow:hidden;
}
.SUB .SHOPLIST .list li {
    float: left;
    margin: 0 40px 40px 0;
    width: 300px;
}
.SUB .SHOPLIST .list li dt {
    display: block;
    font-size: 120%;
    font-weight: bold;
    margin-bottom: 10px;
}

.DETAIL .product-photo {
    float: left;
    width: 50%;
}



.DETAIL .product-social {
    border-bottom: 1px solid #f0f0f0;
    border-top: 1px solid #f0f0f0;
    height: 40px;
    line-height: 40px;
    margin: 20px 0;
    vertical-align: middle;
}
.DETAIL .product-social div {
    display: inline-block;
    height: 20px;
    margin-right: 10px;
    padding: 0;
    top: 5px;
    width: 20px;
}
.DETAIL .product-social div.social-title {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    top: 0;
    width: 70px;
}
.DETAIL .product-texts .list {
    font-family: "Josefin Sans",sans-serif;
}
.DETAIL .product-texts .list .name {
    font-size: 44px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 10%;
}
.DETAIL .product-texts .list .price {
    font-size: 20px;
    font-weight: bold;
}
.DETAIL .CONTAINER {
    padding: 20px 0 5%;
}


.cart-list {
    margin: 40px auto;
    max-width: 900px;
}


.formError .formErrorContent {
    background: #ae0000 none repeat scroll 0 0 !important;
    border: 2px solid #ae0000 !important;
    border-radius: 4px !important;
    box-shadow: none !important;
    color: #fff !important;
    font-size: 11px !important;
    min-width: 120px !important;
    padding: 4px 10px !important;
    position: relative !important;
    width: 100% !important;
}
.formErrorContent::after {
    border-color: #ae0000 transparent transparent;
    border-style: solid;
    border-width: 10px 7px 0;
    bottom: -7px;
    content: "";
    height: 0;
    position: absolute;
    width: 0;
}
.formError .formErrorArrow div {
    display: none !important;
}

#order_zipsearch,
#deliver_zipsearch,
#zipsearch {
    height: 40px;
}
.login-panel .button.text {
    display: inline-block;
    margin: 10px 0;
}
.panel .buttons {
    margin: 10px 0 10px;
}

.info {
    margin: 60px auto 20px;
    max-width: 900px;
}
#order {
    margin: 0 auto;
    max-width: 900px;
}
.confirm-panel {
    border: 1px solid;
    border-radius: 6px;
    margin: 40px auto;
    max-width: 860px;
    padding: 20px;
    width: 70%;
}
.confirm-panel .buttons button {
    border: medium none;
    color: #fff;
    font-size: 100%;
}
.confirm-panel .buttons {
    margin-bottom: 20px;
}
.fixed-data {
    margin: 40px auto;
    max-width: 900px;
}
.buy-list{
    margin: 40px auto;
    max-width: 900px;
}
.faq-container .head {
    height: auto;
}
@media screen and (max-width: 1024px) {
.menubutton {
    display:block;
}

.HEADER .GLOBALNAVI .HEAD {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-bottom: 1px solid #3f3f3f;
    left: auto;
    position: relative;
    text-align: left;
    top: auto;
    width: auto;
    z-index: auto;
}
.HEADER .GLOBALNAVI .HEAD .button {
    display: inline-block;
    padding: 13px 3px;
    width: 18px;
    height: 18px!important;
}
.HEADER .GLOBALNAVI {
    background-color: rgba(0, 0, 0, 0.9);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.HEADER .GLOBALNAVI .NAVIGATION {
    color: #fff;
}
.HEADER .GLOBALNAVI li {
    display: inline !important;
    margin: 0 !important;
}
.HEADER .GLOBALNAVI li a {
    display: block;
    font-size: 140%;
    font-weight: 700 !important;
    height: 60px !important;
    line-height: 66px !important;
    text-align: center;
}
.HEADER .GLOBALNAVI .HEAD .title {
    display: none !important;
}
.HEADER .GLOBALNAVI .HEAD li {
    display: inline-block;
    margin: 0 0 0 15px!important;
}
.HEADER .NAVIGATION li a.active hr {
    display: none;
}

.HEADER .TITLE {
    margin: 0 auto;
    padding: 0;
    width: 65px;
}
.HEADER.clone .TITLE{
    display:block;
}
.HEADLINE .CONTAINER {
    padding: 0;
}
.HEADER {
    padding: 15px 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.HEADER.clone {
    background-color: #000;
    position: fixed;
    top: -90px;
}
.HEADER.clone .NAVIGATION {
    float: none;
    margin-left: 0px;
}
.HEADER .NAVIGATION hr {
	display:none;
}

.HEADER.clone.show {
    top: 0;
}

.TOP .TOPICS {
    display: none;
    margin: 0;
    text-align: center;
    width: 100%;
}
.TOP .TOPICS ul {
    margin: 0;
    text-align: left;
    width: auto;
}
.CONTAINER {
    min-width: 280px;
    padding: 80px 0;
    width: auto;
}
.TOP .TOPICS li {
    border-bottom: 1px solid #e4e4e4;
    margin: 0;
}
.TOP .TOPICS li a {
    display: block;
    padding: 20px 10px;
    width: auto;
}
.TOP .TOPICS.clone {
    background-color: rgba(255, 255, 255, 0.2);
    bottom: 0;
    color: #fff;
    display: block;
    height: 65px;
    position: absolute;
    text-align: left;
    width: 100%;
    z-index: 1;
    cursor:pointer;
}

.TOP .TOPICS.clone::before {
    background-image: url("/assets/img/chet/ICON_arrow_white.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20px auto;
    content: "";
    height: 65px;
    position: absolute;
    right: 0;
    top: 0;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    width: 65px;
    transition: all 0.3s ease-in-out 0s !important;
}
.TOP .TOPICS.clone::after {
    background-color: rgba(0, 0, 0, 0.4);
    content: "";
    display: block;
    height: 65px;
    position: absolute;
    right: 0;
    top: 0;
    width: 65px;
    z-index: 4;
    transition: all 0.3s ease-in-out 0s !important;
}

.TOP .TOPICS.clone.on .title {
    display: block;
}
.TOP .TOPICS.clone.on ul {
    display: none;
}
.TOP .TOPICS.clone.on::before {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}

.TOP .TOPICS.clone li {
    border:none;
}
.TOP .TOPICS.clone li a dd {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 60%;
}
.TOP .TOPICS.clone li a{
    pointer-events: none;
}
.TOP .TOPICS.clone .title {
    display: none;
    height: 65px;
    line-height: 65px;
    padding: 0 10px;
}
.text-headline {
    font-size: 230%;
}
.LINEUP .content-body .innner {
    margin: 0 0 20px;
    width: 50%;
}
.LINEUP .content-body {
    width: auto;
}
.LINEUP .content-body .innner figure {
    padding: 0 20px;
}
.LINEUP .content-body .innner:nth-last-child(1), .LINEUP .content-body .innner:nth-last-child(2) {
    margin-bottom: 0;
}
.FOOTER .CONTAINER {
    padding: 0;
}
.FOOTER ul {
    float: none !important;
    margin: 0 !important;
    position: relative !important;
    width: auto;
}
.FOOTER ul.credit {
    background-color: #000;
    margin: 20px auto 0 !important;
    padding: 20px 0;
    top: auto;
    width: auto;
}
.FOOTER ul.credit img {
    margin: 0 auto;
    width: 120px;
}
.FOOTER ul.credit br {
    display: none;
}
.FOOTER ul li {
}
.FOOTER ul.menu-01 li, .FOOTER ul.menu-02 li {
    border-bottom: 1px solid #000000;
}
.FOOTER ul.menu-01 li a, .FOOTER ul.menu-02 li a {
    display: block;
    height: 50px;
    line-height: 50px;
    margin-right: 20px;
    padding: 0 0 0 20px;
}
.content-headline {
    margin-bottom: 20px;
}
.FOOTER .CONTACT {
    display: block;
    float: none;
    margin: 0 auto;
    max-width: 400px;
    overflow: hidden;
    padding: 40px 20px 80px;
    width: auto;
}
.FOOTER .CONTACT .text-heading {
    text-align: center;
}
.SUB .HEADER {
    background-color: #000;
    position:fixed;
}
.SUB .CONTENTS {
    margin: 40px 10px 20px;
}
.SUB .CONTENTS .CONTAINER {
    margin: 20px;
    padding: 0;
}




.SUB .TOPICS .content-body .list li dt {
    display: block;
    float: none;
    margin-bottom: 10px;
}
.SUB .TOPICS .content-body .list li dd {
    margin: 0;
}

.SUB .TOPICS.SINGLE .content-body header {
    margin-bottom: 40px;
}
.SUB .TOPICS.SINGLE .content-body header h1 {
    font-size: 200%;
    line-height: 1.4em;
    margin: 40px auto;
    width: 90%;
}
.SUB .TOPICS.SINGLE .content-body section img {
    margin-bottom: 40px;
}
.SUB .TOPICS.SINGLE .content-body section p {
    width: 100%;
}
.SUB .TOPICS.SINGLE .content-body section {
    margin-bottom: 40px;
}
.SUB .TOPICS.SINGLE .content-body footer {
    padding-top: 40px;
}
.SUB .TOPICS.SINGLE .content-body footer h1 {
    float: none;
    margin-bottom: 20px;
    text-align: left;
    width: 100%;
}
.SUB .TOPICS.SINGLE .content-body footer ul li dt {
    float: none;
    margin-bottom: 10px;
}
.SUB .TOPICS.SINGLE .content-body footer ul li dd {
    margin: 0;
}
.SUB .TOPICS.SINGLE .content-body footer ul li {
    border-bottom: 1px solid #d0d0d0;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.SUB .TOPICS.SINGLE .content-body footer ul {
    float: none;
    width: 100%;
}
.SUB .CONCEPT .content-body .description p {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;

}

.SUB .CONCEPT .content-body .staff {
    margin: 40px auto;
    padding: 40px 0;
    width: 70%;
}

.SUB .SHOPLIST .list {
    width: 100%;
}
.SUB .SHOPLIST .list li {
    border-bottom: 1px solid #d0d0d0;
    float: none;
    margin: 0 0 10px;
    padding-bottom: 10px;
    width: 100%;
}
.SUB .SHOPLIST .list li:last-child {
    border-bottom: medium none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.DETAIL .product-photo {
    float: none;
    width: 100%;
}
.DETAIL .product-texts .list {
    text-align: center;
}
.DETAIL .product-texts .list .name {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top:10px;
}
.DETAIL .product-texts .list .price {
    font-size: 16px;
    font-weight: bold;
}

.cart-list {
}
.forms {
    padding: 0;
}
}
